name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    # Runs at 8am UTC Mon-Fri
    - cron: '0 8 * * 1-5'
env:
  PASSWORD: ${{ secrets.PASSWORD }}
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chromium, firefox, webkit]
        exclude:
          - browser: ${{ github.event_name == 'pull_request' && 'firefox'}}
          - browser: ${{ github.event_name == 'pull_request' && 'webkit'}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps ${{matrix.browser}}
      - name: Run Playwright tests
        run: npm run test:${{matrix.browser}}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-${{matrix.browser}}
          path: playwright-report/
          retention-days: 30
